body {
    background-color: #f2f2f2;
    color: #fff;
    font-family: sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  z-index: 100;
}

.logo {
  font-size: 22px;
  color: #26254c;
  font-weight: 700;
  text-decoration: none;
}

.navbar a {
  font-size: 18px;
  color: #26254c;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 20px;
}

.indexColumns1 {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-top: 100px;
}


.indexColumns1 img {
  justify-content: center;
  align-items:center;
}

.indexColumns1 h1 {
  display: flex;
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
}


.indexColumns2 {
  display: flex;
  margin: 0px 10vw 0px 10vw;
  gap: 2vw;
}

.indexright-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.indexleft-column, .indexright-column{
  flex-basis: 50%;
  margin: 0px;
}

.indexColumns2>div>img {
  width: 100%;
}

.indexleft-column h2{
  color: #8894a2;
  font-family: Garamond, serif;
  font-size:50px;
}

.indexleft-column p{
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
}

.indexright-colum img{
  align-items:center;
}

.ch1 {
  display:flex;
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
  justify-content: flex-start;
  margin-left: 80px;
}

.challengesColumns1 {
  display: flex;
  justify-content:center;
  margin: 0px 10vw 0px 10vw;
  gap: 2vw;
  flex-basis: 50%;
  margin: 50px;
}

.challengesColumns1, p + div img{
  flex-basis: 50%;
  margin: 50px;
}


.challengesColumns1 p {
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
}

.Cp2 {
  background-color: rgba(136, 148, 162, 0.2);
  padding: 50px;
  margin: 0 auto;
  width: 40%;
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  margin-top: 15%;
  text-align: center;
  column-width: 18em;
  text-align: justify;
  hyphens: auto;
}

.challengesColumns2 {
  display: flex;
  justify-content: space-between;
  margin: 0px 10vw 0px 10vw;
  gap: 2vw;
  margin-top: 40px;
}

.challengesleft-column {
  margin-top: 100px;
}

.challengesleft-column, .challengesright-column{
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin: 20px;
}

.challengesColumns2 .Cp3,
.challengesColumns2 .Cp4,
.challengesColumns2 .Cp5 {
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
}

.urgencyColumns1 {
  display: flex;
  margin: 0px 5vw 0px 5vw;
  gap: 2vw;
}

.urgencyright-column img {
  align-items: center;
}

.urgencyleft-column, .urgencyright-column{
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin: 20px;
}

.urgencyleft-column h1{
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
}

.urgencyleft-column p{
  color: #8894a2;
  font-size: 20px;
  font-family: Garamond, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.png2link {
  display: flex;
  justify-content: center;
  align-items:center;
}

.urgencyColumns2 {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.urgencyColumns2 img {
  max-width: 100%;
  max-height: 300px;
}

.urgencyColumns2 p{
  color: #8894a2;
  font-size:20px;
  font-style:normal;
  font-family: Garamond, serif;
  max-width: 800px;
}

.Sh1 {
  display:flex;
  color: #26254c;
  font-family: Garamond, serif;
  font-size:120px;
  justify-content: center;
  align-items:center;
}

.supportColumns1 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.supportColumns1 .SQ1,
.supportColumns1 .SQ2,
.supportColumns1 .SQ3,
.supportColumns1 .SQ4 {
  background-color: rgba(204, 31, 13, 1);
  width: 220px;
  height: 220px;
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
}



.Sp1container {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.Sp1container p{
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
}

.supportColumns2 {
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin-top: 80px;
  margin-right: 150px;
  margin-left: 150px;
}

.supportColumns2 p + div a {
  flex-basis: 50%;
  margin: 50px;
}

.supportColumns2 img {
  max-width: 100%;
  max-height: 100%;
}

.supportColumns2 p{
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  text-align:justify;
}

.supportColumns3{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.supportColumns3 p{
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.Wh1 {
  display: flex;
  justify-content:center;
  align-items: center;
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
}

.CIP {
  display:flex;
  align-items: center;
  flex-direction: column;
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
}
