body {
    background-color: #f2f2f2;
    color: #fff;
    font-family: sans-serif;

}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  z-index: 100;
}

.EYESONYOU {
  font-size: 22px;
  color: #26254c;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: #26254c;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 20px;
}


h1 {
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
  position: absolute;
  justify-content:space-between;
  top: 85%;
  left: 70%;
  transform: translate(-85%, -70%);
  white-space: nowrap;
}


h2 {
  color: #8894a2;
  font-family: Garamond, serif;
  font-size:50px;
  position: absolute;
  top: 115%;
  left: 30%;
  transform: translate(-115%, -30%);
}

p {
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
  position:absolute;
  top:165%;
  left:65%;
  transform: translate(-145%, -65%);
}

.image1 {
  display: block;
  margin-top:90px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.image2 {
  display: block;
  margin-top:380px;
  margin-left: auto;
  margin-right: 150px;
  width: 38%;
}

.Ch1 {
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
  position: absolute;
  top: 8%;
  left: 18%;
  transform: translate(-12%, -18%);

}

.Cp1 {
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
  position:absolute;
  top:70%;
  left:40%;
  transform: translate(-70%, -40%);
  max-width:540px;
}

.Cp2 {
  background-color: rgba(136, 148, 162, 0.2);
  padding: 50px;
  margin: 0 auto;
  width: 40%;
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  margin-top: 15%;
  text-align: center;
  column-width: 18em;
  text-align: justify;
  hyphens: auto;
}

.Cp3 {
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  width:30%;
  position: absolute;
  top: 340%;
  left: 115%;
  transform: translate(-340%, -85%);
  max-width: 1000px;
  text-align:justify;
}

.image8 {
  display: block;
  margin-top:100px;
  margin-left: auto;
  margin-right: 150px;
  width: 40%;
}

.Cp4{
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  width:30%;
  position: absolute;
  top: 390%;
  left: 155%;
  transform: translate(-340%, -85%);
  max-width: 1000px;
  text-align:justify;
}

.Cp5{
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  width:30%;
  position: absolute;
  top: 450%;
  left: 115%;
  transform: translate(-340%, -85%);
  max-width: 1000px;
  text-align:justify;
}

.image9 {
  display: block;
  margin-top:70px;
  margin-left: auto;
  margin-right: 850px;
  width: 20%;
  height:20%;
}

.image10 {
  display: block;
  margin-top:100px;
  margin-left: auto;
  margin-right: 170px;
  width: 35%;
}

.image3 {
  display: block;
  margin-top:300px;
  margin-left: auto;
  margin-right: 150px;
  width: 38%;
}

.Uh1 {
  color: #cc1f0d;
  font-family: Garamond, serif;
  font-size:120px;
  position: absolute;
  top: 8%;
  left: 18%;
  transform: translate(-12%, -18%);

}

.png2 {
  display: flex;
  justify-content: center;
  max-width: 80%;
  height: auto;
  position: relative;
  top: -150px;
  margin-left: auto;
  margin-right: 5px;
}

.Up1{
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.png1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: auto;
  margin-top:200px;
  margin-left: auto;
  margin-right: 150px;
}

.image11{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: auto;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}

.Up2{
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  display: flex;
  width:40%;
  margin-top:1300px;
  margin-left: 350px;
  margin-right: auto;
}

.Sh1 {
  color: #26254c;
  font-family: Garamond, serif;
  font-size:120px;
  position: absolute;
  top: 10%;
  left: 38%;
  transform: translate(-10%, -38%);
}

.Sp1 {
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  text-align: center;
}

.Sp2 {
  color: #26254c;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  top: 220%;
  left: 70%;
  transform: translate(-200%, -70%);
  max-width: 700px;
  text-align:justify;
}

.Sp3 {
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  top: 380%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  text-align: center;
}

.image4 {
  display: block;
  margin-top:250px;
  margin-left: auto;
  margin-right: 450px;
  width: 35%;
}

.image5 {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.SQ1 {
  background-color: rgba(204, 31, 13, 1);
  width: 220px;
  height: 220px;
  padding: 10px;
  margin: 40px;
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: -42%;
  margin-left: 0%;
}

.SQ2 {
  background-color: rgba(204, 31, 13, 1);
  width: 220px;
  height: 220px;
  padding: 10px;
  margin: 40px;
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: -3%;
  margin-left: 16.5%;
}

.SQ3 {
  background-color: rgba(204, 31, 13, 1);
  width: 220px;
  height: 220px;
  padding: 10px;
  margin: 40px;
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: -19%;
  margin-left: 68.3%;
}

.SQ4 {
  background-color: rgba(204, 31, 13, 1);
  width: 220px;
  height: 220px;
  padding: 10px;
  margin: 40px;
  color: #8894a2;
  font-style: normal;
  font-family: Garamond, serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: -36%;
  margin-left: 85%;
}

.image7 {
  display: block;
  margin-top:750px;
  margin-left: auto;
  margin-right: 150px;
  width: 40%;
}

.image6 {
  display: block;
  margin-top:150px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.CIP {
  color: #8894a2;
  font-style:normal;
  font-family: Garamond, serif;
  font-size:20px;
  line-height: 40px;
  position:absolute;
  top:53%;
  left:30%;
  transform: translate(-53%, -30%);
  max-width:540px;
}
